certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1613247279197/work
mkl-fft==1.3.0
mkl-random==1.1.0
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
olefile==0.46
Pillow @ file:///C:/ci/pillow_1617386341487/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
six @ file:///C:/ci/six_1605187374963/work
torch==1.8.1
torchvision==0.9.1
typing-extensions==3.10.0.0
wincertstore==0.2
